---
layout: default
---

{%assign pagename = page.url | remove: page.fullpath | remove: ".html"%}

{%assign pagepointer = site.data.pointers | where: "chapter",page.docid | where: "sectionname",pagename%}

<section class="specification-wrap">
  <aside class="spec-nav">
    {% for group in site.data.naf4 %}
    <nav class="bookgroup">
      <div class="book"><a href="{{site.baseurl}}{{group.location}}">{{ group.title }}</a></div>
      {% if group.id == page.docid %}
      <ul>
        {% for section in group.sections %}
        <li><a href="{{site.baseurl}}{{group.location}}{{section.url}}.html" title="{{section.title}}">{{section.short}}</a></li>
        {% endfor %}
      </ul>
      {%endif%}
    </nav>
    {% endfor %}
  </aside>
  <article class="spec-content">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="pager">
      {%if pagepointer[0].prev%}
      <div class="prev"><a href="{{pagepointer[0].prev}}.html"><i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i></a></div>
      {% endif %}
      {%if pagepointer[0].next%}
      <div class="next"><a href="{{pagepointer[0].next}}.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
      {% endif %}
    </div>
    {{ content }}
    <div class="pager">
      {%if pagepointer[0].prev%}
      <div class="prev"><a href="{{pagepointer[0].prev}}.html"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div>
      {% endif %}
      {%if pagepointer[0].next%}
      <div class="next"><a href="{{pagepointer[0].next}}.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
      {% endif %}
    </div>
  </article>

</section>
<script src="https://use.fontawesome.com/82ec2366dc.js"></script>
