ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}


ol {
  list-style-type: decimal;
  padding-left: 40px;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
}

*  [type=a] {
  list-style-type: lower-alpha;

}

*  [type=i] {
  list-style-type: lower-roman;

}


.spec-nav ul {
  list-style-type: none;
  padding-left: 0;
}

.footnotes {
  font-size: .8em;
  padding-top: 30px;
}
